/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "components/variables";
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

/* General elements */
body {
  font-family: "Open Sans";
}

#content, .sidebars {
  font-family: Arial;
}
 
a {
  text-decoration: none;
  color: $darkGrey;
  border-bottom: 1px solid $lightGrey;
  &:hover {
    color: $black;
    border-bottom: 1px solid $black;
    text-decoration: none;
  }
}

.form-text {
  border: 2px solid $green;
  height: 30px;
  line-height: 30px;
}

.form-submit {
  background: $green;
  color: white;
  border: none;
  padding: 6px 15px;
}

#content {
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
}

h1#page-title,
h2#page-title {
  color: $green;
  text-transform: uppercase;
  font-family: "Open Sans";
}

h2 {
  color: $green;
  font-family: "Open Sans Condensed";
}


/* Header */
#header {
  height: 130px;
  border-top: 5px solid $green;
  h1#site-name {
    a {
	    text-indent: -999em;
	    width: 190px;
	    height: 112px;
	    background: url(../images/logo.png);    
      display: block;
      border: none;
      overflow: hidden;
    }
  }
  .inner {
    position: relative;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
	  #block-search-form {
	    position: absolute;
	    top: 4px;
	    right: 0;
	    .form-text {
	      height: 30px;
	      line-height: 30px;
	      padding-left: 5px;
	      width: 215px;
        font-weight: 700;
        text-transform: uppercase;
        color: $lightGrey;
	    }
	    .form-submit {
	      background: url(../images/sprite.png) no-repeat left top;
	      border: none;
	      height: 30px;
	      width: 33px;
	      text-indent: -999em;
	      cursor: pointer;
	      padding: 0;
	    }
	  }
	  .block-logo-vub {
	    position: absolute;
	    right: 0;
	    top: 50px;
	    a.logo {
	      display: block;
	      width: 265px;
	      height: 50px;
	      text-indent: -999em;
	      overflow: hidden;
	      background: url(../images/logo-vub.jpg) no-repeat;
	      border: none;
	    }
	  }
  }
}

/* Main Menu */
#navigation {
  padding: 0;
  background: $black;
  ul {
    position: absolute;
    bottom: 3px;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      margin-right: 15px;
      &.first {
        margin-left: 10px;
      }
		  a {
		    color: $darkGrey;
		    border-bottom: none;
		    text-transform: uppercase;
		    font-family: "Open Sans Condensed";
		    font-size: 1.1875em;
		    font-weight: 700;
		    &:hover,&.active {
		      color: $white;
		    }
		  }
    }
  }
}

/* Main content */
#main {
  padding-top: 4em;
}

/* Columns */
.three-columns {
  $zen-column-count: 24;
  .column-left {
    @include zen-grid-item(8, 1);
  }
  .column-center {
    text-align: center;
    @include zen-grid-item(8, 9);
  }
  .column-right {
    text-align: right;
    @include zen-grid-item(8, 17);
  }
}

/* Sidebar blocks */
.region-sidebar-first {
  .block {
    margin-left: -10px;
    padding-top: 150px;
    background: url(../images/blocks/bg-1.jpg) no-repeat left top;
    border-bottom: 2px solid $green;
    .content, .view-content, .navigation-list {
      margin-left: 15px;
	    ul {
	      margin: 0;
	      padding: 0;
	      li {
	        list-style: none;
	        a {
	          border-bottom: none;
	          &:hover,&.active {
	            color: $black;
	            border-bottom: 1px solid $black;
	          }
	        }
	      }
	    }
    }
  }
  .block-links-team {
    background: url(../images/blocks/bg-2.jpg) no-repeat left top;
  }
  h2 {
    font-family: "Open Sans Condensed";
    color: $green;
    text-transform: uppercase;
    background: url(../images/sprite.png) no-repeat left -55px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 30px;
  }
}

/* Front page */
.front {
  .visual {
    position: relative;
    height: 580px;
    background: url(../images/front.jpg);
    margin-bottom: 30px;
    .block {
      margin: 0;
      position: absolute;
      height: 265px;
      width: 265px;      
      background: url(../images/bg-white.png);
      &.block-working-papers {
        left: 0;
        top: 200px;
      }
      &.block-visiting-fellows {
        left: 285px;
        top: 0;
      }
      &.block-news {
        left: 570px;
        bottom: 0;
      }
      &.block-gallery {
        right: 0;
        top: 25px;
      }
      a {
        border: none;
        display: block;
        height: 265px;
        text-transform: uppercase;
        color: $green;
        font-size: 1.375em;
        font-weight: 600;
        &:hover {
          color: $black;
        }
        span {
          position: absolute;
          bottom: 5px;
          left: 5px;
        }
      }
    }
  }
}

/* Core theme page */
#content {
	.view-core-themes {
	  ul.themes {
	    margin: 0;
	    padding: 0;
	    li.theme {
	      list-style: none;
	      margin-bottom: 30px;
	      padding-bottom: 30px;
	      border-bottom: 1px solid $veryLightGrey;
	      h2 {
	        font-family: "Open Sans Condensed";
	        margin: 10px 0;
	        font-weight: 600;
	        a {
	          color: $green;
	          border-bottom: 1px solid $lightGreen;
	          &:hover {
	            border-bottom-color: $green;
	          }
	        }
	      }
	      p {
	        margin-top: 0;
	        margin-bottom: 10px;
	      }
	    }
	  }
	}
}

/* Team page */
.view-team-members {
  ul.users {
    margin: 0;
    padding: 0;
    li.user {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 265px;
      margin-right: 21px;
      margin-bottom: 20px;
      float: left;
      background: $veryLightGrey;
      position: relative;
      &.last {
        margin-right: 0;
      }
      a {
        border: none;
      }
      .thumbnail {
        float: left;
        img {
          display: block;
        }
      }
      .main {
        margin-left: 85px;
        font-weight: bold;
        font-size: 0.875em;
      }
      .link {
        position: absolute;
        right: 0;
        bottom: 0;
        a {
          display: block;
          background: url(../images/sprite.png) left -34px;
          width: 19px;
          height: 17px;
          text-indent: -999em;
          overflow: hidden;
        }
      }
    }
  }
}

/* Publications */
.view-publications {
  margin-top: 20px;
  ul.publications {
    margin: 0; 
    padding: 0;
    li.publication {
      list-style: none;
      margin-bottom: 10px;
      padding: 15px;
      background: $veryLightGrey;
      position: relative;
      .publication-type {
        font-size: 0.875em;
        color: $lightGrey;
      }
      .links {
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 0.875em;
      }
      .abstract {
        display: none;
        color: $darkGrey;
        font-size: 0.9375em;
      }
    }
  }
}

.node-type-publication {
  .field-name-field-pub-abstract {
    margin-bottom: 20px;
  }
  .field {
    .field-label {
      width: 205px;
    }
  }
  
  .field-collection-container {
    border-bottom: 0;
    margin-bottom: 0;
    .field-item {
      margin-bottom: 0;
    }
  }
}

/* Working paper series */
.view-publications {
  h3.title {
    font-family: "Open Sans Condensed";
    font-weight: 600;
    color: $green;
    font-size: 1.5em;
  }
}

/* Galleries */
#content {
	.view-gallery {
	  ul.galleries {
	    margin: 0;
	    padding: 0;
	    li.gallery {
	      list-style: none;
	      margin: 0;
	      margin-bottom: 30px;
	      padding-bottom: 30px;
	      border-bottom: 1px solid $veryLightGrey;
	      &.last {
	        border-bottom: none;
	      }
	      .views-field-field-gallery-image {
	        ul {
	          margin: 0;
	          padding: 0;
	          li {
	            float: left;
	            margin-right: 10px;
	            list-style: none;
	            a {
	              border: none;
	              display: block;
		            img {
		              display: block;
		            }
	            }
	          }
	        }
	      }
	      .views-field-view-node {
	        clear: left;
	        padding-top: 20px;
	      }
	    }
	  }
	}
}

.node-type-gallery {
  #content {
    .field-name-field-gallery-image {
      .field-items {
        .field-item {
          float: left;
          margin-right: 10px;
          a {
            display: block;
            border: none;
            img {
              display: block;
            }
          }
        }
      }
    }
  }
}

/* News */
#content {
	.view-news {
	  ul.items {
	    margin: 0;
	    padding: 0;
	    margin-top: 20px;
	    li.item {
	      margin: 0;
	      margin-bottom: 30px;
	      padding-bottom: 30px;
	      border-bottom: 1px solid $veryLightGrey;
	      list-style: none;
	      &.last {
	        border-bottom: none;
	      }
	      h3 {
	        margin: 0;
	        margin-bottom: 5px;
	        font-family: "Open Sans Condensed";
	        font-size: 1.375em;
	        line-height: 1;
	        font-weight: 600;
	      }
	      .news-date {
	        color: $lightGrey;
	        font-size: 0.75em;
	      }
	    }
	  }
	}
}

/* User profile page */
.page-user {
  .top {
    margin-bottom: 20px;
	  .field-name-field-user-soundbite {
	    float: right;
	    color: $green;
	    font-family: "Open Sans Condensed";
	    font-style: italic;
	    font-size: 2.875em;
	    margin-left: 20px;
	    font-weight: 300;
	  }
    .field-name-field-user-picture {
      img {
        border: 3px solid $green;
      }
    }
  }
  .field-label-inline {
    .field-label {
      width: 205px;
    }
  }
  .field-label-above {
    p {
      margin-top: 4px;
    }
  }
  .field-name-field-user-biography {
    margin-top: 1.5em;
  }
}

/* Soundbites fellows */
.block-soundbites-fellows {
  text-align: right;
  .soundbite {
    color: $green;
    font-family: "Open Sans Condensed";
    font-size: 1.375em;
    font-weight: 700;
    font-style: italic;
  }
  .name {
    color: $lightGrey;
    margin-left: 30px;
  }
}

/* Documents */
.node-type-document {
  .field {
    &.field-label-inline {
      .field-label {
        width: 205px;
      }
    }
  }
}

.view-document-portal {
  .view-content {
    table {
      width: 100%;
      caption {
        margin-bottom: 20px;
        color: $green;
        font-size: 1.5em;
        font-family: "Open Sans Condensed";
        font-weight: 600;
        text-align: left;
      }
      tr {
        th {
          text-align: left;
	        &.views-field-created {
	          padding-left: 10px;
	        }        
        }
	      td {
	        padding-top: 10px;
	        padding-bottom: 10px;
	        &.views-field-created {
	          padding-left: 10px;
	          width: 20%;
	        }
	        &.views-field-title {
	          width: 70%;
	        }
	      }
	      &.odd {
	        td {
	          background-color: $veryLightGrey;
	        }
	      }
      }
    }
  }
}

/**
 * Footer
 * Sticky footer: see http://www.cssstickyfooter.com/
 */
* {
  margin: 0;
  padding: 0;
} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
  height: 100%;
}

#page-wrapper {
  min-height: 100%;
}

#page-wrapper-inner {
  overflow:auto;
	padding-bottom: 80px;
}

#footer {
  position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	clear:both;
  border-bottom: 5px solid $green;
	font-size: 0.875em;
	p {
	  margin: 0;
	  padding: 0;
	}
	.block {
	  max-width: 1120px;
	  margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 0;
	}
	.block-footer-links {
	  .three-columns {
		  a {
		    font-weight: 700;
		    text-transform: uppercase;
		    font-size: 1.0625em;
		    border: none;
		    height: 50px;
		    line-height: 88px;
		    display: inline-block;
		  }
		  .column-left {
		    a {
		      background: url(../images/logo-ies.jpg) no-repeat left top;
		      padding-left: 85px;
		    }
		  }
		  .column-center {
		    a {
		      background: url(../images/logo-envelope.jpg) no-repeat left top;
		      padding-left: 60px;
		    }
		  }
		  .column-right {
		    a {
		      background: url(../images/logo-poli.jpg) no-repeat right top;
		      padding-right: 55px;
		    }
		  }
	  }
	}
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
